---
title: Textures and abstract imagery
description: "Something that serves as content placeholder"
date: 2015-08-26 12:35 CEST
tags: nedzen, whatever, here, tttags
public: true
alternate: true
app_id: 940028427
ogp:
  og:
    image:
      '': http://mariusnedelcu.com/images/2015-08-17-letestehere/gelly_fond.png
      type: image/png
      width: 992
      height: 525
---

<div>
	<%= image_tag '2015-08-26-textures-and-abstract-imagery/leaf_fond.png' %>
</div>	

We actually didn’t start with the design. It was more important to look at the overall structure of their company first to then define what the magazine should be—from a content and design perspective.

```sass
.logo
	float: left
	strong
		font-weight: normal
		display: none
		:hover & 
			display: inline-block

```


READMORE

We felt the magazine should be a by-product of the GOOD brand. Since GOOD Magazine was going through the process from being an activist magazine solely, to bringing in more of a lifestyle component, we had to be very careful to not end up with something over-designed and in the end nothing tangible. We wanted the content to drive the magazine, not the design. We tried to keep it very simple and put our efforts into the content. We worked in close collaboration with GOOD’s Editor-in-Chief Josh Neuman, Casey, and the awesome GOOD team.