---
title: Textures and abstract imagery
description: "Something that serves as content placeholder"
date: 2015-08-26 12:35 CEST
tags: nedzen, whatever, here, tttags
public: true
category: none
alternate: true
app_id: 940028427
ogp:
  og:
    image:
      '': http://mariusnedelcu.com/images/2015-08-17-letestehere/gelly_fond.png
      type: image/png
      width: 992
      height: 525
---
<div class="sidebar">
  <figure>
    <%= image_tag '2015-08-26-textures-and-abstract-imagery/preview_mag.png' %>
    <figcaption>Something here and there</figcaption>
  </figure>
</div>

Accidental Empires: How the Boys of Silicon Valley Make Their Millions, Battle Foreign Competition, and Still Can't Get a Date (1992, 1996), is a book written by Mark Stephens under the pen name Robert X. Cringely about the founding of the personal computer industry and the history of Silicon Valley. 

#The style of the book is informal

##The style of the book is informal

###The style of the book is informal

and in the first chapter Cringley claims that he is not a historian but an explainer, and that historians have a harder job because they can be faulted for what is left out; explainers like me can get away with printing only the juicy parts.Notably, the book was critical of Steve Jobs and Apple, as well as Bill Gates and Microsoft.

READMORE

that you live on planet Earth. If that’s the case, here’s some good news: "Our humble home has over seven times more" trees than previously thought. Yes, seven times more trees, bringing our arboreal number from 400 billion to a whopping 3 trillion. That over four hundred trees per person. 

Pretty good, right?

"with satellite imaging, and computer models. The previous figure, by comparison, relied solely on satellite imaging, reports The New York Times. The study which lead to this stunning"

This new estimate was reached **using** nearly half a million ground measurements, combined with satellite imaging, and computer models. The previous figure, by comparison, relied solely on satellite imaging, reports The New York Times. The study which lead to this stunning, seven-fold increase, was published this week in Nature. Entitled “Mapping tree density at a global scale,” the study was conducted by a team from Yale university, ==and spearheaded by Thomas Crowther, a post-doctoral fellow at the University's School of Forestry & Environmental Studies. Crowther became involved in the tree-counting study, after having been approached by Plant for the Planet, a global, environmental youth initiative. With a goal== of planting a billion trees, the group wanted to understand _what effect their efforts would have on overall C02 emissions for the planet. "quote" In order to understand the effect, Crowther realized_, he’d need first to understand just how many trees there were out there to begin with.  


<figure class="wide">
	<%= image_tag '2015-08-26-textures-and-abstract-imagery/leaf_fond.png' %>
	<figcaption>Something here lorem ipsum dolor sit amet dolor consec ipsum</figcaption>
</figure>

<%= image_tag '2015-08-26-textures-and-abstract-imagery/alt.jpg' %>


that you live on planet Earth.[^1] If that’s the case, here’s some good news: "Our humble home has over seven times more" trees than previously thought. Yes, seven times more trees, bringing our arboreal number from 400 billion to a whopping 3 trillion. That over four hundred trees per person. 

Pretty good, right?

"with satellite imaging, and computer models. The previous figure, by comparison, relied solely on satellite imaging, reports The New York Times. The study which lead to this stunning"

This new estimate was reached **using** nearly half a million ground measurements, combined with satellite imaging, and computer models. The previous figure, by comparison, relied solely on satellite imaging, reports The New York Times. The study which lead to this stunning, seven-fold increase, was published this week in Nature. Entitled “Mapping tree density at a global scale,” the study was conducted by a team from Yale university, ==and spearheaded by Thomas Crowther, a post-doctoral fellow at the University's School of Forestry & Environmental Studies. Crowther became involved in the tree-counting study, after having been approached by Plant for the Planet, a global, environmental youth initiative. With a goal== of planting a billion trees, the group wanted to understand _what effect their efforts would have on overall C02 emissions for the planet. "quote" In order to understand the effect, Crowther realized_, he’d need first to understand just how many trees there were out there to begin with.  

> Beyond simply determining a more accurate total number of trees, Crowther’s study also helped clarify where many of those trees actually exist: Primarily in the tropics, although the most dense growth takes place in Russia, Scandinavia, and North America.  <cite>this is my attribution</cite>

# The Way textures work

## The Way textures work

### If you’re reading this, odds are pretty good

#### If you’re reading this, odds are pretty good

```erb

```

`We actually didn’t start` with the design. ~~Mistaken text.~~ http://example.com to look at the overall structure of their company first to then define what the magazine should be—from a content and design perspective.

```html
<div class="codes">
  <pre>shade($color, 50%);</pre>
  <p>Mix <code>$color</code> with black, by %.</p>
  <p class="docs"><a href="#">Documentation.</a></p>
</div>
```

<figure>
	<%= image_tag '2015-08-26-textures-and-abstract-imagery/devil_details.jpg' %>
	<figcaption>Something here lorem ipsum dolor sit amet dolor consec ipsum</figcaption>
</figure>

