// Defaults
$font-size-base:     16px !default;
$font-family-base:   'helvetica', sans-serif;
$line-height: 		    1.3em !default;
$body-color: 		     #FFFFFF;
$body-bg: 		       #f1f1f1;
$link-color: 				 #FFFFFF;

// Links
// Style anchor elements.
// Color palette
$c00: #000000;  //black

//.library
$c01: #1f3559;  //darkblue
$c02: #3e6890;  //blue
//.reading
$c03: #f5aa34;  //orange
$c04: #f28933;  //spiced orange
//.tool
$c05: #3d811b;  //deepgreen
$c06: #58bcbc;  //turcoise

//.social + //.subscribe
$c07: #5baeec;  //deepgreen
$c08: #6cd59a;  //palegreen
//.help
$c09: #3c5aac;  //mov
$c10: #6d2e8f;  //purple


$c11: #070415; // deep purple
$c12: #1a1c47; // lighter deep purple

$white: #FFF;
$black: $c00;

$box-pad: 22px;

// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
$screen-lg:                  1170px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

// 200px minimum
// optimal : 230px - 260px
// 600px max 
$box-h: 260px; // default box height
$sm-h: 260px; // height for the small boxes on mobile
$big-h: 310px; // height for the featured boxes