// Defaults
$pi:     3.14;
$font-size-root:     18px !default;
$font-size-base:     1rem !default;
$font-size-small:    13px;/*  */
$font-family-base : 'Roboto', sans-serif;
$line-height: 		   1.5 !default;

$brand-primary :     #000000;
$body-color: 		     #000000;
$body-bg: 		       #f1f1f1; //d9f2ff

$abbr-border-color:  $brand-primary;
$hover-focus:        $brand-primary;
$table-bg:					 #FFF;
$table-cell-padding: 1rem/2;
$text-muted:  			 #000;

$enable-hover-media-query: false;

// Links
//
// Style anchor elements.

$link-color:                 $brand-primary;
$link-decoration:            none !default;
$link-hover-color:           $link-color;
$link-hover-decoration:      none !default;


$container-sm: 34rem;   // 480
$container-md: 45rem;   // 720
$container-lg: 60rem;   // 960
$container-w:  62.44rem;   // 999
$container-xl: 72.25rem;   // 1140
$container-xxl: 90rem;   // 1140
$box-pad: 1.3rem;

$c00: #c3ff68;  //happygreen
$c01: #0bde91;  //green
$c02: #21629a;  //bleau
$c03: #ff007e;  //pink
$c04: #ff9c00;  //orange
$c05: #6ede0b;  //deepgreen
$c06: #d50073;  //deepgreen
$c07: #ffc600;  //yellow
$c08: #ffa2e6;  //pink2
$c09: #ff0000;  //red
$c10: #8a800c;  //kaki
$c11: #ac894f;  //brown

$c12: #0090ff;  //wild yellow
$c13: #7200d2;  //pimp purple
$c14: #777777;  //gray normal
$c15: #5c3c27;  //brown
$c16: #363606;  //dirtygreen
$c17: #226774;  //naviblue
$c18: #333333;  //deep gray
$c19: #dca26b;  //skincolor
$c20: #0cbfb3;  //turcoise
$c21: #a30006;  //blood red
$c22: #be80ff;  //lightpurple
$c23: #6b6830;  //moldgreen