// Defaults
$pi: 3.14;
$font-size-root:     16px !default;
$font-size-base:     1rem !default;
$font-size-small:    13px;/*  */
$font-family-base :  'Graphik-Regular', sans-serif;
$line-height: 		 1.5 !default;

$brand-primary :     #000000;
$body-color: 		 #000000;
$body-bg: 		     #f1f1f1;

$abbr-border-color:  $brand-primary;
$hover-focus:        $brand-primary;
$table-bg:					 #FFF;
$table-cell-padding: 1rem/2;
$text-muted:  			 #000;
$enable-hover-media-query: false;

// Links
//
// Style anchor elements.

$link-color:                 $brand-primary;
$link-decoration:            none !default;
$link-hover-color:           $link-color;
$link-hover-decoration:      none !default;

$container-max: 75rem; //1200px
$container-xl: 62.5rem; //1000px
$container-lg: 50rem; //800px 
$container-big: 37.5rem; //600px 
$container-md: 31.25rem; //500px 
$container-sm: 20rem; //320px 
$container-xs: 18.75rem; //300px

$box-pad: 1.3rem;
$nav-height: 50px;
$logo-h: 36px