// Defaults

$pi:     3.14;
$font-size-root:     16px !default;
$font-size-base:     1rem !default;
$font-family-base : 'Roboto', sans-serif;
$line-height: 		   1.5 !default;

$brand-primary :     #000000;
$body-color: 		     #000000;
$body-bg: 		       #f1f1f1; //d9f2ff

$abbr-border-color:  $brand-primary;
$hover-focus:        $brand-primary;
$table-bg:					 #000;
$table-cell-padding:	1rem/2;
$text-muted:  				#000;

$enable-hover-media-query: false;


// Links
//
// Style anchor elements.

$link-color:                 $brand-primary;
$link-decoration:            none !default;
$link-hover-color:           $link-color;
$link-hover-decoration:      none !default;


$container-sm: 34rem;   // 480
$container-md: 45rem;   // 720
$container-lg: 60rem;   // 960
$container-w:  62.44rem;   // 999
$container-xl: 72.25rem;   // 1140

$box-pad: 1.3rem;