---
title: About Marius Nedelcu
description: About Marius Nedelcu a graphic designer.
layout: layout
ogp:
  og:
    type: profile
  profile:
    first_name: Marius
    last_name:  Nedelcu
    username:   nedzen
    gender:     male
alternate: true
---

- content_for :main do
  main.about role='main' itemscope=true itemtype="http://data-vocabulary.org/Person"
    
    header
      h1 Marius Nedelcu
      p.meta = alt_link
    
    =image_tag 'marius_nedelcu.jpg', :class=>'myself'

    markdown:
      hello, glad you dropped by. My name is Marius and I’m a professional graphic designer with a declared love for beautiful  witty things. The material I work with is subtleties of language imagery, color, negative space type and form. it might look like my style is inconsistent because what I aim for with each project is to create an effect. A certain visual appeal custom cut for the context where it activates. And this is where we arrive at the most happy moment when the work is done and moving trough people’s hands, in front of their eyes, in their minds.

      I am 29 now, in the recent years I traveled extensively in Europe. I lived in Barcelona, Bucharest, Berlin and now Paris. During this time i was Freelancing and so I could keep on moving, exploring and absorbing the particularities of each place each culture, language and people.

      In the past couple of months I’ve been working with the communication team at NUMA, a hand full of exceptional people, I’m so grateful to be among them every day.

      My interests are varied but they mostly gravitate around two big subjects: Graphic design, aesthetics, technology. Some things I know and share some i do less but I still write about. You’ve been warned and to let you know, I gladly engage in conversation so feel free to write me on my email or on twitter. Thank you !

    h3 Get in touch with me at :

    dl.dl-horizontal
      dt Email
      dd= link_to 'hello@mariusnedelcu.com', 'hello@mariusnedelcu.com'
      dt Skype
      dd= link_to 'marius.etc', 'skype:marius.etc?call'
      dt Phone
      dd +33 065 174 55 66