---
title: About Marius Nedelcu
description: About Marius Nedelcu a graphic designer.
layout: layout
ogp:
  og:
    type: profile
  profile:
    first_name: Marius
    last_name:  Nedelcu
    username:   nedzen
    gender:     male
alternate: true
---

- content_for :main do
  main.about role='main' itemscope=true itemtype="http://data-vocabulary.org/Person"

    = image_tag 'x.gif'
    
    h1 Marius Nedelcu
    
    p = alt_link
    
    p Graphic Designer Based in Paris
    markdown:
      ## Cate ceva despre mine
      etc etc in limba Romanana. yes yes yo
      

    h3 Ia legatura cu mine.

    dl.dl-horizontal
      dt Email
      dd= link_to 'hello@mariusnedelcu.com', 'hello@mariusnedelcu.com'
      dt Skype
      dd= link_to 'marius.etc', 'skype:marius.etc?call'
      dt Phone
      dd +33 065 174 55 66