---
title: En savoir plus sur Marius Nedelcu
description: graphiste polyvalent sur Paris
ogp:
  og:
    type: profile
  profile:
    first_name: Marius
    last_name:  Nedelcu
    username:   nedzen
    gender:     male
alternate: true
---

- content_for :main do
  main.about role='main' itemscope=true itemtype="http://data-vocabulary.org/Person"

    header
      h1 Marius Nedelcu
      p.meta = alt_link
    
    =image_tag 'marius_nedelcu.jpg', :class=>'myself'

    markdown:
      Bonjour, je suis ravi que tu sois arrivé sur cette page. Je m’appelle Marius et je suis graphiste professionnel avec un amour déclaré pour les choses belles, pleines d’esprit. Car ces choses sont les éléments qui m’inspirent et que j’engage dans tout mon travail. Les subtilités du langage, les images, la couleur, l’espace blanc, la typo et la forme. Mon style peut sembler inconsistent, pas si évident dans l’ensemble de mon travail, c’est parce qu’avec chaque projet je cherche plutôt à créer un effet, à séduire le viewer avec une certaine technique visuelle bien choisie pour le contexte ou milieu ou la chose produite est destine a attendre son objectif. Voici le moment où je me sens heureux, quand mon travail circule dans les mains de gens, devant leurs yeux, dans leurs esprit.

      Aujourd’hui j’ai 29 ans. Dans les dernières années j’ai beaucoup voyagé en Europe, j’ai vécu à Barcelone, à Bucharest, Berlin et maintenant à Paris. Pendant ce temps j’ai réalisé des projets en mode freelance, ça m’avait permis de rester toujours mobil dans une exploration perpétuelle en poursuivant la nouveauté de chaque langue, culture et peuple.

      Les Derniers mois j’ai travaillé avec l’équipe de com à NUMA, une main de gens très très ambitieux et dévoué à leur mission. Je leur remercie pour tout ce qu’ils m’ont appris.  

      Mes intérêts sont variées mais dans les grandes lignes ils tournent autour de deux grands sujets. Le graphisme, l’esthétique, et la technologie. Il y a des choses que je connais et que j’ai hâte de partager, des autres que je ne connais pas du tout mais j’écris quand même pour faire exercice de compréhension. Très ravi de débattre avec vous, si vous avez qqch à me dire n’hésitez pas à le faire en mail ou sur twitter/@nedzen. Merci !

    h3 contacts

    dl.dl-horizontal
      dt boîte mail
      dd= link_to 'hello@mariusnedelcu.com', 'hello@mariusnedelcu.com'
      dt Skype
      dd= link_to 'marius.etc', 'skype:marius.etc?call'
      dt Phone
      dd +33 065 174 55 66