---
title: in-app landing page
pageable: true
per_page: 10
layout: crl
---

	|
		<div id="content" data-reactid=".19is50oc2kg.1.0">
			 <div data-reactid=".1hjaibykzr4" data-react-checksum="1625538365">
					<noscript data-reactid=".1hjaibykzr4.0"></noscript>
					<div data-reactid=".1hjaibykzr4.1">
						 <div data-reactid=".1hjaibykzr4.1.0">
								<header class="header___3gLc-" data-reactid=".1hjaibykzr4.1.0.0">
									 <a class="logo___1_fpI" title="Corilla" href="/" data-reactid=".1hjaibykzr4.1.0.0.0"><img src="https://app.corilla.com/dist/6541137c6770c3ef17e6ed782ac83eab.png" data-reactid=".1hjaibykzr4.1.0.0.0.0"/></a>
									 <nav class="navMain___1LQ23" data-reactid=".1hjaibykzr4.1.0.0.1">
											<ul data-reactid=".1hjaibykzr4.1.0.0.1.0">
												 <li class="navCollections___odHNz" data-reactid=".1hjaibykzr4.1.0.0.1.0.0">
														<a title="Collections" class="" href="/collections" data-reactid=".1hjaibykzr4.1.0.0.1.0.0.0">
															 <i class="icon-svg" data-reactid=".1hjaibykzr4.1.0.0.1.0.0.0.0">
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" viewBox="0 0 64 64" xml:space="preserve" enable-background="new 0 0 64 64">
																		 <path d="M60 64H4c-2.2 0-4-1.8-4-4V20v-4 -4V4c0-2.2 1.8-4 4-4h20c2.2 0 4 1.8 4 4v4h32c2.2 0 4 1.8 4 4v8 40C64 62.2 62.2 64 60 64zM58 12h-4H24v-2V8 6c0-1.1-0.9-2-2-2H6C4.9 4 4 4.9 4 6v2 2 2 4h50 4c1.1 0 2-0.9 2-2C60 12.9 59.1 12 58 12zM60 24v-2 -2h-2H6 4v2 2 34c0 1.1 0.9 2 2 2h52c1.1 0 2-0.9 2-2V24z"></path>
																	</svg>
															 </i>
															 <span data-reactid=".1hjaibykzr4.1.0.0.1.0.0.0.1">Collections</span>
														</a>
												 </li>
												 <li class="navTopics___1Kb4q" data-reactid=".1hjaibykzr4.1.0.0.1.0.1">
														<a title="Topics" class="" href="/topics" data-reactid=".1hjaibykzr4.1.0.0.1.0.1.0">
															 <i class="icon-svg" data-reactid=".1hjaibykzr4.1.0.0.1.0.1.0.0">
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" viewBox="0 0 64 64" xml:space="preserve" enable-background="new 0 0 64 64">
																		 <path d="M58 16v46c0 1.1-0.9 2-2 2H8c-1.1 0-2-0.9-2-2V2c0-1.1 0.9-2 2-2h34v0l0 0L58 16 58 16 58 16 58 16 58 16zM42 4.9V16h11.1L42 4.9zM54 20H42h-4v-4V4H12c-1.1 0-2 0.9-2 2v52c0 1.1 0.9 2 2 2h40c1.1 0 2-0.9 2-2V20zM44 48H20c-1.1 0-2-0.9-2-2 0-1.1 0.9-2 2-2h24c1.1 0 2 0.9 2 2C46 47.1 45.1 48 44 48zM44 36H20c-1.1 0-2-0.9-2-2 0-1.1 0.9-2 2-2h24c1.1 0 2 0.9 2 2C46 35.1 45.1 36 44 36z"></path>
																	</svg>
															 </i>
															 <span data-reactid=".1hjaibykzr4.1.0.0.1.0.1.0.1">Topics</span>
														</a>
												 </li>
												 <li class="navDisabled___1pHmR" data-reactid=".1hjaibykzr4.1.0.0.1.0.2">
														<a title="Media" data-reactid=".1hjaibykzr4.1.0.0.1.0.2.0">
															 <i class="icon-svg" data-reactid=".1hjaibykzr4.1.0.0.1.0.2.0.0">
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" viewBox="0 0 64 64" xml:space="preserve" enable-background="new 0 0 64 64">
																		 <path d="M60 64H4c-2.2 0-4-1.8-4-4V4c0-2.2 1.8-4 4-4h56c2.2 0 4 1.8 4 4v56C64 62.2 62.2 64 60 64zM60 6c0-1.1-0.9-2-2-2H6C4.9 4 4 4.9 4 6v52c0 1.1 0.9 2 2 2h52c1.1 0 2-0.9 2-2V6zM37.5 48.9c-0.4 0.5-1 0.6-1.5 0.6 -0.6 0-1.1-0.2-1.5-0.6l-12.1-9.1L11.5 55.3c-0.8 0.9-2.1 0.9-3 0 -0.8-0.9-0.8-2.3 0-3.2l11.8-16.9c0.4-0.5 1-0.6 1.6-0.6 0.6 0 1.2 0.1 1.6 0.6l12.1 9.2 16.7-19.8c0.8-0.9 2.1-0.9 3 0 0.8 0.9 0.8 2.3 0 3.2L37.5 48.9zM18 24c-3.3 0-6-2.7-6-6 0-3.3 2.7-6 6-6 3.3 0 6 2.7 6 6C24 21.3 21.3 24 18 24zM18 16c-1.1 0-2 0.9-2 2 0 1.1 0.9 2 2 2 1.1 0 2-0.9 2-2C20 16.9 19.1 16 18 16z"></path>
																	</svg>
															 </i>
															 <span data-reactid=".1hjaibykzr4.1.0.0.1.0.2.0.1">Media</span>
														</a>
												 </li>
												 <li class="navDisabled___1pHmR" data-reactid=".1hjaibykzr4.1.0.0.1.0.3">
														<a title="Team" data-reactid=".1hjaibykzr4.1.0.0.1.0.3.0">
															 <i class="icon-svg" data-reactid=".1hjaibykzr4.1.0.0.1.0.3.0.0">
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" viewBox="0 0 64 64" xml:space="preserve" enable-background="new 0 0 64 64">
																		 <path d="M62.6 52.8c0 0-0.8 0.7-10.7 1 0.2-1.3 0.2-2.6 0-3.8l6.1 0c3.1-1.1 2.4-6.4 0-7.5 -1.7-0.8-8.7-2.6-12.9-3.7L44.5 37v-2.7C47.9 31.6 50 26 50 20.8 50 13.7 48.3 8 40 8c-0.6 0-1.1 0.1-1.7 0.2 -1.7-1.1-3.9-1.8-6.7-2C33.7 4.8 36.4 4 40 4c11.5 0 14 7.5 14 16.7 0 5.9-2.3 12.2-6.2 15.9 4.1 1 12.3 3.1 13.4 4.2C63.9 43.2 65.2 49.2 62.6 52.8zM38 25.6c0 6.4-2.4 13-6.4 16.9 4.1 1 12.4 3.2 13.6 4.3 2.6 2.4 4 8.4 1.3 12 0 0-1.3 1.2-22.5 1.2S1.5 58.8 1.5 58.8c-2.7-3.6-1.3-9.6 1.3-12 1.2-1.1 9.5-3.2 13.6-4.2 -4-3.9-6.4-10.6-6.4-17C10 15.9 12.5 8 24 8S38 15.9 38 25.6zM24 12c-8.3 0-10 6.2-10 13.8 0 5.5 2.1 11.5 5.5 14.5V43L19 44.6c-3.5 1-10.6 3.1-12.4 3.9C4.3 49.6 2.5 54.7 6 56c0 0 17.7 0 17.7 0l18.2 0c3.1-1.1 2.4-6.4 0-7.5 -1.7-0.8-8.7-2.6-12.9-3.7L28.5 43v-2.8c3.5-2.9 5.5-8.9 5.5-14.5C34 18.2 32.3 12 24 12z"></path>
																	</svg>
															 </i>
															 <span data-reactid=".1hjaibykzr4.1.0.0.1.0.3.0.1">Team</span>
														</a>
												 </li>
												 <li class="navProfile___1pTaj" data-reactid=".1hjaibykzr4.1.0.0.1.0.4">
														<a title="Profile" class="" href="/settings/profile" data-reactid=".1hjaibykzr4.1.0.0.1.0.4.0">
															 <i class="icon-svg" data-reactid=".1hjaibykzr4.1.0.0.1.0.4.0.0">
																	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0" y="0" viewBox="0 0 64 64" xml:space="preserve" enable-background="new 0 0 64 64">
																		 <path d="M61.2 15.5H2.8c-1.5 0-2.8-1.2-2.8-2.8v0C0 11.2 1.2 10 2.8 10h58.5c1.5 0 2.8 1.2 2.8 2.8v0C64 14.3 62.8 15.5 61.2 15.5z"></path>
																		 <path d="M61.2 54H2.8C1.2 54 0 52.8 0 51.2v0c0-1.5 1.2-2.8 2.8-2.8h58.5c1.5 0 2.8 1.2 2.8 2.8v0C64 52.8 62.8 54 61.2 54z"></path>
																		 <path d="M61.2 34.8H2.8C1.2 34.8 0 33.5 0 32v0c0-1.5 1.2-2.8 2.8-2.8h58.5c1.5 0 2.8 1.2 2.8 2.8v0C64 33.5 62.8 34.8 61.2 34.8z"></path>
																	</svg>
															 </i>
															 <span data-reactid=".1hjaibykzr4.1.0.0.1.0.4.0.1">Profile</span>
														</a>
												 </li>
											</ul>
									 </nav>
									 <div class="secondary___2W0s6" data-reactid=".1hjaibykzr4.1.0.0.2">
											<div class="userNav___2gpEJ" data-reactid=".1hjaibykzr4.1.0.0.2.0"><a title="Your Profile" data-reactid=".1hjaibykzr4.1.0.0.2.0.0"><img src="https://secure.gravatar.com/avatar/650a75a7264fcca3a770df47f2dc0c92?d=retro" alt="Your Profile" class="avatar___36_uH" data-reactid=".1hjaibykzr4.1.0.0.2.0.0.0"/><span data-reactid=".1hjaibykzr4.1.0.0.2.0.0.1">hello@mariusnedelcu.com</span></a><span data-reactid=".1hjaibykzr4.1.0.0.2.0.1"></span></div>
									 </div>
									 <div class="headerMobile___2VK0f" data-reactid=".1hjaibykzr4.1.0.0.3">
											<h1 data-reactid=".1hjaibykzr4.1.0.0.3.0">Welcome</h1>
									 </div>
								</header>
								<div class="context___20dSZ" data-reactid=".1hjaibykzr4.1.0.1">
									 <div class="heading___2EOH7" data-reactid=".1hjaibykzr4.1.0.1.0">Welcome</div>
								</div>
						 </div>
						 <div class="content___3IgsC previewTypography___1fwfx" data-reactid=".1hjaibykzr4.1.1">



























						 		<!-- The new welcome page code STARTS here -->
						 		<section id="welcome">
						 			<h1 class="text-center">Understanding Corilla&#39;s Workflow</h1>
						 			<ul class="three-steps">
						 				<li>
						 					<div class="icon">
						 						<div class="mask step1"></div>
						 						<img src="/images/step1.png" />
						 					</div>
						 					<strong class="number">1</strong>
						 					<h3>Create Topics</h3>
						 					<p>Just as you would create a new document, write your content using markdown syntax.</p>
						 				</li><li>
						 					<div class="icon">
						 						<div class="mask step2"></div>
						 						<img src="/images/step2.png" />
						 					</div>
						 					<strong class="number">2</strong>
						 					<h3>Make a Collection</h3>
						 					<p>Group your topics like a dynamic folder. Drag and drop the topics you want into the Collection</p>
						 				</li><li>
						 					<div class="icon">
						 						<div class="mask step3"></div>
						 						<img src="/images/step3.png" />
						 					</div>
						 					<strong class="number">3</strong>
						 					<h3>Publish your Topics</h3>
						 					<p>Preview and Publish your Collections to Corilla's publishing platform.</p>
						 				</li>
						 			</ul>
						 			<div class="action text-center">
										<a class="btn btn-p2 is-dark">GET STARTED</a>
										<p><a class="trigger-video" href="#"> Watch the workflow video </a></p>
						 			</div>
						 		</section>
						 		<footer id="extras">
						 			<ul>
						 				<li><img class="f-icon" src="/images/md_ico.svg" /><a href="#">markdown cheat sheet</a></li>
						 				<li><img class="f-icon" src="/images/doc_ico.svg"/><a href="#">documentation</a></li>
						 				<li><img class="f-icon" src="/images/help_ico.svg" /><a href="#">ask for help or rise bugs</a></li>
						 				<li><img class="f-icon" src="/images/twitter_ico.svg" /><a href="#">@corilla</a></li>
						 			</ul>
						 		</footer>
						 		<!-- The new welcome page code ENDS here -->




























						 		<!--
								<section data-reactid=".1hjaibykzr4.1.1.0">
									 <h1 data-reactid=".1hjaibykzr4.1.1.0.0">Welcome to Corilla</h1>
									 <p data-reactid=".1hjaibykzr4.1.1.0.1">Hey, you&#x27;re here! Welcome to the first iteration of our beta release. We&#x27;re working daily to bring new features and new user documentation. We welcome all feedback, feature requests and bugs in the meantime.</p>
									 <p data-reactid=".1hjaibykzr4.1.1.0.2"><span data-reactid=".1hjaibykzr4.1.1.0.2.0">Drop us a line on the </span><a href="http://corilla.com/contact" target="_blank" data-reactid=".1hjaibykzr4.1.1.0.2.1">Contact page</a><span data-reactid=".1hjaibykzr4.1.1.0.2.2"> or directly at </span><a href="mailto:hello@corilla.com" data-reactid=".1hjaibykzr4.1.1.0.2.3">hello@corilla.com</a><span data-reactid=".1hjaibykzr4.1.1.0.2.4"> or on Twitter at </span><a href="http://www.twitter.com/corilla" target="_blank" data-reactid=".1hjaibykzr4.1.1.0.2.5">@corilla</a><span data-reactid=".1hjaibykzr4.1.1.0.2.6">.</span></p>
									 <h2 data-reactid=".1hjaibykzr4.1.1.0.3">Getting started</h2>
									 <p data-reactid=".1hjaibykzr4.1.1.0.4">Corilla is built around an end-to-end publishing workflow incorporating modular content collections. Understanding Corilla&#x27;s workflow is simple:</p>
									 <ol data-reactid=".1hjaibykzr4.1.1.0.5">
											<li data-reactid=".1hjaibykzr4.1.1.0.5.0"><span data-reactid=".1hjaibykzr4.1.1.0.5.0.0">Create a new </span><strong data-reactid=".1hjaibykzr4.1.1.0.5.0.1">Topic</strong><span data-reactid=".1hjaibykzr4.1.1.0.5.0.2"> like you would create a new document.</span></li>
											<li data-reactid=".1hjaibykzr4.1.1.0.5.1">Write your content using Markdown syntax.</li>
											<li data-reactid=".1hjaibykzr4.1.1.0.5.2"><span data-reactid=".1hjaibykzr4.1.1.0.5.2.0">Commit the </span><strong data-reactid=".1hjaibykzr4.1.1.0.5.2.1">Topic</strong><span data-reactid=".1hjaibykzr4.1.1.0.5.2.2"> to Corilla&#x27;s inbuilt repository to save it.</span></li>
											<li data-reactid=".1hjaibykzr4.1.1.0.5.3"><span data-reactid=".1hjaibykzr4.1.1.0.5.3.0">Create a </span><strong data-reactid=".1hjaibykzr4.1.1.0.5.3.1">Collection</strong><span data-reactid=".1hjaibykzr4.1.1.0.5.3.2"> to group your </span><strong data-reactid=".1hjaibykzr4.1.1.0.5.3.3">Topics</strong><span data-reactid=".1hjaibykzr4.1.1.0.5.3.4"> like a dynamic folder.</span></li>
											<li data-reactid=".1hjaibykzr4.1.1.0.5.4"><span data-reactid=".1hjaibykzr4.1.1.0.5.4.0">Drag and drop the </span><strong data-reactid=".1hjaibykzr4.1.1.0.5.4.1">Topics</strong><span data-reactid=".1hjaibykzr4.1.1.0.5.4.2"> you want into the </span><strong data-reactid=".1hjaibykzr4.1.1.0.5.4.3">Collection</strong><span data-reactid=".1hjaibykzr4.1.1.0.5.4.4">.</span></li>
											<li data-reactid=".1hjaibykzr4.1.1.0.5.5"><strong data-reactid=".1hjaibykzr4.1.1.0.5.5.0">Preview</strong><span data-reactid=".1hjaibykzr4.1.1.0.5.5.1"> and </span><strong data-reactid=".1hjaibykzr4.1.1.0.5.5.2">Publish</strong><span data-reactid=".1hjaibykzr4.1.1.0.5.5.3"> your </span><strong data-reactid=".1hjaibykzr4.1.1.0.5.5.4">Collections</strong><span data-reactid=".1hjaibykzr4.1.1.0.5.5.5"> to Corilla&#x27;s publishing platform.</span></li>
									 </ol>
									 <p data-reactid=".1hjaibykzr4.1.1.0.6"><span data-reactid=".1hjaibykzr4.1.1.0.6.0">As we&#x27;ve just pushed the beta live, we are working currently on our onboarding and user guides. And we&#x27;ve got a long list of features we will be discussing on the </span><a href="http://blog.corilla.com/" target="_blank" data-reactid=".1hjaibykzr4.1.1.0.6.1">blog</a><span data-reactid=".1hjaibykzr4.1.1.0.6.2">.</span></p>
									 <h2 data-reactid=".1hjaibykzr4.1.1.0.7">Watch the workflow video</h2>
									 <p data-reactid=".1hjaibykzr4.1.1.0.8">The concepts of Corilla are illustrated in our writing and publishing workflow video (bonus points: can you guess the accent?).</p>
									 
									 <div data-reactid=".1hjaibykzr4.1.1.0.9"><iframe src="//fast.wistia.net/embed/iframe/ks7653g95s" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="620" height="349"></iframe></div>
									 
									 <h2 data-reactid=".1hjaibykzr4.1.1.0.a">Change log:</h2>
									 <p data-reactid=".1hjaibykzr4.1.1.0.b"><span data-reactid=".1hjaibykzr4.1.1.0.b.0">2016-03-06 - Migrated the Corilla </span><a href="http://blog.corilla.com/" target="_blank" data-reactid=".1hjaibykzr4.1.1.0.b.1">blog</a><span data-reactid=".1hjaibykzr4.1.1.0.b.2">.</span></p>
									 <p data-reactid=".1hjaibykzr4.1.1.0.c">2016-03-04 - Published first iteration of user documentation.</p>
									 <p data-reactid=".1hjaibykzr4.1.1.0.d">2016-03-03 - First public beta release. Hello world.</p>
								</section>
								-->
						 </div>
					</div>
					
			 </div>
		</div>