---
title: in-app landing page
pageable: true
per_page: 10
layout: laymtrs
---
= partial 'montrans_css'
|
	<nav class="navbar navbar-default navbar-fixed-top">
	   <div class="container">
	      <div class="row">
	         <div class="col-xs-12 col-sm-12 col-lg-12 nolftrgtpading">
	            <div class="navbar-header">
	               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
	               <a class="navbar-brand rgtmrgin" href="index.html"><img src="images/logo.png" alt="Logo" /></a> 
	            </div>
	            <div id="navbar" class="navbar-collapse collapse">
	               <ul class="nav navbar-nav">
	                  <li><a href="#">Concept</a></li>
	                  <li><a href="#">Vehicles</a></li>
	                  <li><a href="#">Directory</a></li>
	                  <li><a href="#">Transport provider?</a></li>
	               </ul>
	               <ul class="nav navbar-nav navbar-right nomargt">
	                  <li class="dropdown loginbtn">
	                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LOG IN <span class="caret"></span></a>
	                     <ul class="dropdown-menu">
	                        <li><a href="#">Traveler</a></li>
	                        <li><a href="#">Transport Provider</a></li>
	                     </ul>
	                  </li>
	                  <li class="signupbtn"><a href="#">SIGN UP</a></li>
	                  <li class="flagimg"><a href="#"><img src="images/france.png" alt="" /></a></li>
	                  <li class="flagimg"><a href="#" class="nomargt"><img src="images/uk.png" alt="" /></a></li>
	               </ul>
	            </div>
	         </div>
	      </div>
	   </div>
	</nav>
	<section id="intro">
	   <div class="mask">
	      <div class="contents">
	         <div class="wrap">
	            <h1>Réservez à l'avance votre taxi/VTC au meilleur prix</h1>
	            <p><strong>Comparez les offres de plus de 6000 véhicules avec chauffeur partout en France.</strong></p>
	            <form id="query" class="navbar-form">
	               <fieldset>
	                  <div class="form-group ride-type">
	                     <select name="select" class="form-control">
	                        <option value="value1">aller simple</option>
	                        <option value="value1">aller complex</option>
	                     </select>
	                  </div>
	                  <div class="form-group adress-depart">
	                     <input type="text" class="form-control" placeholder="Adresse ou Lieu de départ">
	                  </div>
	                  <div class="form-group adress-arrive">
	                     <input type="text" class="form-control" placeholder="Adresse ou Lieu de d'arrivée">
	                  </div>
	                  <div class="form-group hour-depart">
	                     <input type="text" class="form-control" placeholder="Date &amp; heure de départ">
	                  </div>
	                  <div class="form-group compact">
	                     <div class="sect-user">
	                        <label class="icn user">persons</label>
	                        <input type="text" class="form-control" placeholder="nr">
	                     </div>
	                     <div class="sect-bag">
	                        <label class="icn bag">tickets</label>
	                        <input type="text" class="form-control" placeholder="nr">
	                     </div>
	                  </div>
	               </fieldset>
	               <div class="submit">
	                  <button type="submit" class="btn btn-default btn-submit">Submit</button>
	               </div>
	            </form>
	         </div>
	      </div>
	   </div>
	</section>
	<section id="grayarea">
	   <div class="grayarea">
	      <div class="container">
	         <div class="row">
	            <div class="onesec">
	               <img src="images/icon_trip.png" alt="" />
	               <h2>16 446 </h2>
	               <h3>trip requests sent</h3>
	            </div>
	            <div class="twosec">
	               <img src="images/icon_chauffer.png" alt="" />
	               <h2>5 288</h2>
	               <h3>chauffered vehicles in France</h3>
	            </div>
	            <div class="thresec">
	               <img src="images/icon_bids.png" class="thresec_img" alt="" />
	               <h2>110 709 </h2>
	               <h3>bids compared</h3>
	            </div>
	            <div class="foursec">
	               <img src="images/icon_reservation.png" class="foursec_img" alt="" />
	               <h2>5 293 </h2>
	               <h3>reservations made</h3>
	            </div>
	         </div>
	      </div>
	   </div>
	</section>
	<section class="thresecarea">
	   <div class="container">
	      <div class="row">
	         <h2>HOW IT WORKS?</h2>
	         <div class="col-xs-12 col-sm-4 col-lg-4 nopadinglft">
	            <div class="frstsection">
	               <h3>1</h3>
	               <img src="images/icon_posttrip.png" alt="" />
	               <h4>POST A TRIP</h4>
	               <p style="margin:0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	            </div>
	         </div>
	         <div class="col-xs-12 col-sm-4 col-lg-4 padinglftrgt">
	            <h3>2</h3>
	            <img src="images/icon_compare.png" alt="" />
	            <h4>COMPARE AND BOOK</h4>
	            <p style="margin:0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	         </div>
	         <div class="col-xs-12 col-sm-4 col-lg-4 nopadingrgt">
	            <div class="persection">
	               <h3>3</h3>
	               <img src="images/icon_enjoy.png" alt="" />
	               <h4>ENJOY YOUR TRIP!</h4>
	               <p style="margin:0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	            </div>
	         </div>
	      </div>
	   </div>
	</section>
	<section class="tablearea">
	   <div class="container">
	      <div class="row">
	         <h2>LAST POSTED TRIP REQUESTS</h2>
	         <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
	         <div class="col-sm-12 col-lg-12 nopadinglftrgt">
	            <div class="table-responsive pc_table">
	               <table class="table table-striped" width="100%">
	                  <thead>
	                     <tr>
	                        <th>VEHICLE TYPE / LOCATION </th>
	                        <th>PASSENGERS</th>
	                        <th>BIDS</th>
	                        <th>BEST RATE</th>
	                        <th>VEHICLE</th>
	                     </tr>
	                  </thead>
	                  <tbody>
	                     <tr>
	                        <td>
	                           <a href="#">Transfer by Taxis/Minivans </a>
	                           <h3>from Bonneuil-sur-Marne 94380 to Roissy-en-France (Aéroport) 95700 </h3>
	                        </td>
	                        <td>2</td>
	                        <td>2</td>
	                        <td>58,22  € </td>
	                        <td>BMW 320D</td>
	                     </tr>
	                     <tr>
	                        <td>
	                           <a href="#">Transfer by Taxis/Minivans </a>
	                           <h3>from Le Cannet 06110 to Nice 06000 </h3>
	                        </td>
	                        <td>3</td>
	                        <td>5</td>
	                        <td>32,13 € </td>
	                        <td>Mercedes Viano</td>
	                     </tr>
	                     <tr>
	                        <td>
	                           <a href="#">Transfer by Coach / Minibus </a>
	                           <h3>from Paris 75010 to Antony 92160 </h3>
	                        </td>
	                        <td>35</td>
	                        <td>7</td>
	                        <td>41,24  €</td>
	                        <td>Skoda Superb</td>
	                     </tr>
	                     <tr>
	                        <td>
	                           <a href="#">Transfer RT by Adapted vehicles </a>
	                           <h3>from Aix-les-Bains 73100 to Belley 01300</h3>
	                        </td>
	                        <td>2</td>
	                        <td>9</td>
	                        <td>337,20  €</td>
	                        <td>Mazda 6</td>
	                     </tr>
	                     <tr>
	                        <td>
	                           <a href="#">Transfer by Taxis/Minivans </a>
	                           <h3>from Vigneux-sur-Seine 91270 to Maisons-Alfort 94700</h3>
	                        </td>
	                        <td>4</td>
	                        <td>8</td>
	                        <td>105,50  €</td>
	                        <td>Renault TRAFIC</td>
	                     </tr>
	                  </tbody>
	               </table>
	            </div>
	            <div class="mobile_table">
	               <table class="table table-striped" width="100%">
	                  <thead>
	                     <tr>
	                        <th>VEHICLE TYPE / LOCATION </th>
	                        <th class="onlandscape">PASSENGERS</th>
	                        <th>BEST RATE</th>
	                     </tr>
	                  </thead>
	                  <tbody>
	                     <tr>
	                        <td>
	                           <a href="#">Transfer by Taxis/Minivans </a>
	                           <h3>from Bonneuil-sur-Marne 94380 to Roissy-en-France (Aéroport) 95700 </h3>
	                        </td>
	                        <td class="onlandscape">2</td>
	                        <td>58,22  € </td>
	                     </tr>
	                     <tr>
	                        <td>
	                           <a href="#">Transfer by Taxis/Minivans </a>
	                           <h3>from Le Cannet 06110 to Nice 06000 </h3>
	                        </td>
	                        <td class="onlandscape">3</td>
	                        <td>32,13 € </td>
	                     </tr>
	                     <tr>
	                        <td>
	                           <a href="#">Transfer by Coach / Minibus </a>
	                           <h3>from Paris 75010 to Antony 92160 </h3>
	                        </td>
	                        <td class="onlandscape">35</td>
	                        <td>41,24  €</td>
	                     </tr>
	                     <tr>
	                        <td>
	                           <a href="#">Transfer RT by Adapted vehicles </a>
	                           <h3>from Aix-les-Bains 73100 to Belley 01300</h3>
	                        </td>
	                        <td class="onlandscape">2</td>
	                        <td>337,20  €</td>
	                     </tr>
	                     <tr>
	                        <td>
	                           <a href="#">Transfer by Taxis/Minivans </a>
	                           <h3>from Vigneux-sur-Seine 91270 to Maisons-Alfort 94700</h3>
	                        </td>
	                        <td class="onlandscape">4</td>
	                        <td>105,50  €</td>
	                     </tr>
	                  </tbody>
	               </table>
	            </div>
	         </div>
	      </div>
	   </div>
	</section>
	<section class="trustwrap">
	   <div class="container">
	      <div class="row">
	         <h2>THEY TRUST US</h2>
	         <div class="col-sm-12 col-lg-12 nopadinglftrgt">
	            <div id="nav-01" class="crsl-nav"> <a href="#" class="previous">&laquo; Previous</a> <a href="#" class="next">Next &raquo;</a> </div>
	            <div class="gallery gallery-01 crsl-items" data-navigation="nav-01" style="margin-top:-10px">
	               <div class="crsl-wrap">
	                  <figure class="crsl-item"> <span><img src="images/logo_technip.png" alt="" /></span> </figure>
	                  <figure class="crsl-item"> <span><img src="images/logo_hp.png" alt="" /></span> </figure>
	                  <figure class="crsl-item"> <span><img src="images/logo_sanofi.png" alt="" /></span> </figure>
	                  <figure class="crsl-item"> <span><img src="images/logo_semens.png" alt="" /></span> </figure>
	                  <figure class="crsl-item"> <span><img src="images/logo_technip.png" alt="" /></span> </figure>
	                  <figure class="crsl-item"> <span><img src="images/logo_hp.png" alt="" /></span> </figure>
	                  <figure class="crsl-item"> <span><img src="images/logo_sanofi.png" alt="" /></span> </figure>
	                  <figure class="crsl-item"> <span><img src="images/logo_semens.png" alt="" /></span> </figure>
	               </div>
	            </div>
	         </div>
	      </div>
	   </div>
	</section>
	<section class="whtarea padingtwo">
	   <div class="container">
	      <div class="row">
	         <h2 class="marginbtmtwo">LAST REVIEWS AND RATINGS</h2>
	         <div class="col-sm-12 col-lg-12 nopadinglftrgt">
	            <div id="nav-02" class="crsl-nav"> <a href="#" class="previous">&laquo; Previous</a> <a href="#" class="next">Next &raquo;</a> </div>
	            <div class="gallery gallery-02 crsl-items" data-navigation="nav-02">
	               <div class="crsl-wrap">
	                  <figure class="crsl-item nopadinglft">
	                     <div class="perrevarea">
	                        <h4>Transfer by Mercedes VIANO from Bollène</h4>
	                        <a href="#">VTC near Castelnau-d'Aude</a>
	                        <p style="margin-right:0px">Chauffeur ponctuel (il était même là 5min avant l'heure prévue) et courtois. Conduite agréable. Une bouteille d'eau à disposition est un plus.</p>
	                        <div class="btmpart">
	                           <div class="stars"> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> </div>
	                           <div class="rating">5/5</div>
	                           <br class="clear" />
	                           <h6>From Kathy W.</h6>
	                        </div>
	                     </div>
	                  </figure>
	                  <figure class="crsl-item nopadinglft">
	                     <div class="perrevarea">
	                        <h4>Transfer by Mercedes SPRINTER from Cadaques Spain</h4>
	                        <a href="#">Taxi near Narbonne</a>
	                        <p style="margin-right:0px">Excellent service, everything was as promised, we couldn't have had any more done for us, thank you.</p>
	                        <div class="btmpart">
	                           <div class="stars"> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> <img src="images/half_star.png" alt="" /> </div>
	                           <div class="rating">4/5</div>
	                           <br class="clear" />
	                           <h6>From Kathy W.</h6>
	                        </div>
	                     </div>
	                  </figure>
	                  <figure class="crsl-item nopadinglft">
	                     <div class="perrevarea">
	                        <h4>Transfer by Peugeot Expert tapee from Saint-Jean-de-Losne</h4>
	                        <a href="#">Taxi near Narbonne</a>
	                        <p style="margin-right:0px">We were very pleased with the prompt and efficient service provided by this company.The driver was polite and professional.The route included some windy mountain roads which he drove calmly and safely.
	                           We would recommend this transport provider.
	                        </p>
	                        <div class="btmpart">
	                           <div class="stars"> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> </div>
	                           <div class="rating">5/5</div>
	                           <br class="clear" />
	                           <h6>From Kathy W.</h6>
	                        </div>
	                     </div>
	                  </figure>
	                  <figure class="crsl-item nopadinglft">
	                     <div class="perrevarea">
	                        <h4>Transfer by Mercedes VIANO from Bollène</h4>
	                        <a href="#">VTC near Castelnau-d'Aude</a>
	                        <p style="margin-right:0px">Chauffeur ponctuel (il était même là 5min avant l'heure prévue) et courtois. Conduite agréable. Une bouteille d'eau à disposition est un plus.</p>
	                        <div class="btmpart">
	                           <div class="stars"> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> </div>
	                           <div class="rating">5/5</div>
	                           <br class="clear" />
	                           <h6>From Kathy W.</h6>
	                        </div>
	                     </div>
	                  </figure>
	                  <figure class="crsl-item nopadinglft">
	                     <div class="perrevarea">
	                        <h4>Transfer by Mercedes SPRINTER from Cadaques Spain</h4>
	                        <a href="#">Taxi near Narbonne</a>
	                        <p style="margin-right:0px">Excellent service, everything was as promised, we couldn't have had any more done for us, thank you.</p>
	                        <div class="btmpart">
	                           <div class="stars"> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> <img src="images/half_star.png" alt="" /> </div>
	                           <div class="rating">4/5</div>
	                           <br class="clear" />
	                           <h6>From Kathy W.</h6>
	                        </div>
	                     </div>
	                  </figure>
	                  <figure class="crsl-item nopadinglft">
	                     <div class="perrevarea">
	                        <h4>Transfer by Peugeot Expert tapee from Saint-Jean-de-Losne</h4>
	                        <a href="#">Taxi near Narbonne</a>
	                        <p style="margin-right:0px">We were very pleased with the prompt and efficient service provided by this company.The driver was polite and professional.The route included some windy mountain roads which he drove calmly and safely.
	                           We would recommend this transport provider.
	                        </p>
	                        <div class="btmpart">
	                           <div class="stars"> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> <img src="images/star.png" alt="" /> </div>
	                           <div class="rating">5/5</div>
	                           <br class="clear" />
	                           <h6>From Kathy W.</h6>
	                        </div>
	                     </div>
	                  </figure>
	               </div>
	            </div>
	         </div>
	      </div>
	   </div>
	</section>
	<section class="presswrap">
	   <div class="container">
	      <div class="row">
	         <h2>THE PRESS</h2>
	         <div class="col-sm-12 col-lg-12 nopadinglftrgt">
	            <div id="nav-03" class="crsl-nav"> <a href="#" class="previous">&laquo; Previous</a> <a href="#" class="next">Next &raquo;</a> </div>
	            <div class="gallery gallery-03 crsl-items nopadinglftrgt" data-navigation="nav-03">
	               <div class="crsl-wrap">
	                  <figure class="crsl-item">
	                     <div class="pressimg"><a href="#"><img src="images/press_tfi.png" alt="" /></a></div>
	                     <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</h4>
	                     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.</p>
	                  </figure>
	                  <figure class="crsl-item">
	                     <div class="pressimg"><a href="#"><img src="images/press_m.png" alt="" /></a></div>
	                     <h4>Duis autem vel eum iriure dolor in hendrerit in vulputfeugiat nulla facilisis at vero eros </h4>
	                     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.</p>
	                  </figure>
	                  <figure class="crsl-item">
	                     <div class="pressimg"><a href="#"><img src="images/press_france.png" alt="" /></a></div>
	                     <h4>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</h4>
	                     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.</p>
	                  </figure>
	                  <figure class="crsl-item">
	                     <div class="pressimg"><a href="#"><img src="images/press_tfi.png" alt="" /></a></div>
	                     <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</h4>
	                     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.</p>
	                  </figure>
	                  <figure class="crsl-item">
	                     <div class="pressimg"><a href="#"><img src="images/press_m.png" alt="" /></a></div>
	                     <h4>Duis autem vel eum iriure dolor in hendrerit in vulputfeugiat nulla facilisis at vero eros </h4>
	                     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.</p>
	                  </figure>
	                  <figure class="crsl-item">
	                     <div class="pressimg"><a href="#"><img src="images/press_france.png" alt="" /></a></div>
	                     <h4>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</h4>
	                     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim.</p>
	                  </figure>
	               </div>
	            </div>
	         </div>
	      </div>
	   </div>
	   </div>
	</section>
	<section class="whtarea">
	   <div class="container">
	      <div class="row">
	         <h2 class="marginbtm">AFFILLIATED TRANSPORT PROVIDERS</h2>
	         <p class="provtxt">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
	         <div class="col-sm-12 col-lg-12 affiwrap">
	            <div class="affiarea">
	               <a href="#" class="vehicalbox">
	                  <div class="imgarea">
	                     <img src="images/veh_1.jpg" alt="" />
	                     <div class="hovereffect">
	                        <div class="readmore">READ MORE</div>
	                     </div>
	                  </div>
	                  <div class="txtarea">VLTP near Châtillon-en- Vendelais</div>
	               </a>
	               <a href="#" class="vehicalbox">
	                  <div class="imgarea">
	                     <img src="images/veh_2.jpg" alt="" />
	                     <div class="hovereffect">
	                        <div class="readmore">READ MORE</div>
	                     </div>
	                  </div>
	                  <div class="txtarea">Taxi near Narbonne</div>
	               </a>
	               <a href="#" class="vehicalbox">
	                  <div class="imgarea">
	                     <img src="images/veh_3.jpg" alt="" />
	                     <div class="hovereffect">
	                        <div class="readmore">READ MORE</div>
	                     </div>
	                  </div>
	                  <div class="txtarea">VTC near Castelnau-d& #39; Aude</div>
	               </a>
	               <a href="#" class="vehicalbox">
	                  <div class="imgarea">
	                     <img src="images/veh_4.jpg" alt="" />
	                     <div class="hovereffect">
	                        <div class="readmore">READ MORE</div>
	                     </div>
	                  </div>
	                  <div class="txtarea">Coach provider near Perpignan</div>
	               </a>
	               <a href="#" class="vehicalbox">
	                  <div class="imgarea">
	                     <img src="images/veh_5.jpg" alt="" />
	                     <div class="hovereffect">
	                        <div class="readmore">READ MORE</div>
	                     </div>
	                  </div>
	                  <div class="txtarea">Coach provider near Perpignan</div>
	               </a>
	               <a href="#" class="vehicalbox">
	                  <div class="imgarea">
	                     <img src="images/veh_6.jpg" alt="" />
	                     <div class="hovereffect">
	                        <div class="readmore">READ MORE</div>
	                     </div>
	                  </div>
	                  <div class="txtarea">VTC near Nice</div>
	               </a>
	               <a href="#" class="vehicalbox">
	                  <div class="imgarea">
	                     <img src="images/veh_7.jpg" alt="" />
	                     <div class="hovereffect">
	                        <div class="readmore">READ MORE</div>
	                     </div>
	                  </div>
	                  <div class="txtarea">VLTP near Chantilly</div>
	               </a>
	               <a href="#" class="vehicalbox">
	                  <div class="imgarea">
	                     <img src="images/veh_8.jpg" alt="" />
	                     <div class="hovereffect">
	                        <div class="readmore">READ MORE</div>
	                     </div>
	                  </div>
	                  <div class="txtarea">VTC near Bordeaux</div>
	               </a>
	               <a href="#" class="vehicalbox">
	                  <div class="imgarea">
	                     <img src="images/veh_9.jpg" alt="" />
	                     <div class="hovereffect">
	                        <div class="readmore">READ MORE</div>
	                     </div>
	                  </div>
	                  <div class="txtarea">VTC near Gennevilliers</div>
	               </a>
	               <a href="#" class="vehicalbox">
	                  <div class="imgarea">
	                     <img src="images/veh_10.jpg" alt="" />
	                     <div class="hovereffect">
	                        <div class="readmore">READ MORE</div>
	                     </div>
	                  </div>
	                  <div class="txtarea">VTC near Gennevilliers</div>
	               </a>
	               <a href="#" class="vehicalbox">
	                  <div class="imgarea">
	                     <img src="images/veh_6.jpg" alt="" />
	                     <div class="hovereffect">
	                        <div class="readmore">READ MORE</div>
	                     </div>
	                  </div>
	                  <div class="txtarea">VTC near Nice</div>
	               </a>
	               <a href="#" class="vehicalbox">
	                  <div class="imgarea">
	                     <img src="images/veh_7.jpg" alt="" />
	                     <div class="hovereffect">
	                        <div class="readmore">READ MORE</div>
	                     </div>
	                  </div>
	                  <div class="txtarea">VLTP near Chantilly</div>
	               </a>
	               <a href="#" class="vehicalbox">
	                  <div class="imgarea">
	                     <img src="images/veh_11.jpg" alt="" />
	                     <div class="hovereffect">
	                        <div class="readmore">READ MORE</div>
	                     </div>
	                  </div>
	                  <div class="txtarea">VTC near Bordeaux</div>
	               </a>
	               <a href="#" class="vehicalbox">
	                  <div class="imgarea">
	                     <img src="images/veh_12.jpg" alt="" />
	                     <div class="hovereffect">
	                        <div class="readmore">READ MORE</div>
	                     </div>
	                  </div>
	                  <div class="txtarea">VTC near Gennevilliers</div>
	               </a>
	               <a href="#" class="vehicalbox">
	                  <div class="imgarea">
	                     <img src="images/veh_9.jpg" alt="" />
	                     <div class="hovereffect">
	                        <div class="readmore">READ MORE</div>
	                     </div>
	                  </div>
	                  <div class="txtarea">VTC near Gennevilliers</div>
	               </a>
	               <br class="clear" />
	            </div>
	         </div>
	      </div>
	   </div>
	</section>
	<section class="ftrcprt">
	   <div class="container">
	      <div class="row">
	         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	            <div class="cov">
	               <h2>TRANSPORT PROVIDER?</h2>
	               <h3>Join us! Clients are waiting for you.</h3>
	            </div>
	         </div>
	         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> <a href="#" class="orgbtn">FIND OUT MORE</a> </div>
	      </div>
	   </div>
	</section>
	<footer class="footerbg">
	   <div class="container nopadinglftrgt">
	      <div class="row">
	         <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
	            <div class="ftrlogowrap">
	               <a href="#" class="ftrlogo"><img src="images/footer_logo.png" alt="Logo" /></a>
	               <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
	               <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo </p>
	            </div>
	         </div>
	         <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
	            <div class="twoarea infoarea">
	               <h2>INFO</h2>
	               <ul>
	                  <li><a href="#">Faq</a></li>
	                  <li><a href="#">Quality Charter</a></li>
	                  <li><a href="#">Terms</a></li>
	                  <li><a href="#">Privacy</a></li>
	                  <li><a href="#">Contact Us</a></li>
	                  <li><a href="#">Blog</a></li>
	               </ul>
	            </div>
	         </div>
	         <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
	            <div class="twoarea ftrmid">
	               <h2>LAW</h2>
	               <ul>
	                  <li><a href="#">Chauffeured Bike Services Law</a></li>
	                  <li><a href="#">Motorcycle Taxi Law</a></li>
	                  <li><a href="#">Taxi Law</a></li>
	                  <li><a href="#">Petite Remise Law</a></li>
	                  <li><a href="#">Vltp (loti) Law</a></li>
	                  <li><a href="#">Vtc Law</a></li>
	                  <li><a href="#">Coach Provider Law</a></li>
	               </ul>
	            </div>
	         </div>
	         <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
	            <div class="twoarea">
	               <h2>SOCIAL</h2>
	               <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
	               <ul class="socialicons">
	                  <li class="fb"> <a href="#" target="_blank">LinkedIn</a> </li>
	                  <li class="tw"> <a href="#" target="_blank">Twitter</a> </li>
	                  <li class="gp"> <a href="#" target="_blank">Facebook</a> </li>
	                  <li class="li"> <a href="#" target="_blank">Google Plus</a> </li>
	               </ul>
	               <div class="copyrgt">
	                  <p>&copy; 2015  All Rights Reserved <strong>monTransport.com</strong></p>
	               </div>
	            </div>
	         </div>
	      </div>
	   </div>
	</footer>

